Hola caracola

In [61]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import requests

In [62]:
rentas = pd.read_excel("./Data_rentas/rpf_rp22_2p_20250327-155429.xlsx")
rentas

,"Renta personal media de la C.A. de Euskadi (euros) por barrios, tipo de renta y periodo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2006,2009,2011,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0
3,NaN,Renta del trabajo,10749,12285,12062,11735.0,11737.0,11734.0,11855.0,12448.0,12571.0,13304.0,12656.0,13491.0,14545.0
4,NaN,Renta capital mobiliario,2315,2000,1717,1613.0,1484.0,1403.0,1467.0,1343.0,1394.0,1441.0,1357.0,1461.0,1780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
rentas

,"Renta personal media de la C.A. de Euskadi (euros) por barrios, tipo de renta y periodo",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2006,2009,2011,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0
3,NaN,Renta del trabajo,10749,12285,12062,11735.0,11737.0,11734.0,11855.0,12448.0,12571.0,13304.0,12656.0,13491.0,14545.0
4,NaN,Renta capital mobiliario,2315,2000,1717,1613.0,1484.0,1403.0,1467.0,1343.0,1394.0,1441.0,1357.0,1461.0,1780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
rentas.dropna(axis=0, how="all",inplace=True)
rentas
renombrar = {
    "Renta personal media de la C.A. de Euskadi (euros) por barrios, tipo de renta y periodo":"Distrito",
    "Unnamed: 1":"Renta",
    "Unnamed: 2":2006,
    "Unnamed: 3":2009,
    "Unnamed: 4":2011,
    "Unnamed: 5":2013,
    "Unnamed: 6":2014,
    "Unnamed: 7":2015,
    "Unnamed: 8":2016,
    "Unnamed: 9":2017,
    "Unnamed: 10":2018,
    "Unnamed: 11":2019,
    "Unnamed: 12":2020,
    "Unnamed: 13":2021,
    "Unnamed: 14":2022
}
rentas.rename(columns=renombrar,inplace=True)
rentas

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,NaN,NaN,2006,2009,2011,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0
3,NaN,Renta del trabajo,10749,12285,12062,11735.0,11737.0,11734.0,11855.0,12448.0,12571.0,13304.0,12656.0,13491.0,14545.0
4,NaN,Renta capital mobiliario,2315,2000,1717,1613.0,1484.0,1403.0,1467.0,1343.0,1394.0,1441.0,1357.0,1461.0,1780.0
5,NaN,Renta capital inmobiliario,312,372,417,393.0,431.0,451.0,477.0,518.0,511.0,566.0,530.0,563.0,623.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,EUSTAT. Estadística de Renta Personal y Familiar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,Units:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,euros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
rentas

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,NaN,NaN,2006,2009,2011,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0
3,NaN,Renta del trabajo,10749,12285,12062,11735.0,11737.0,11734.0,11855.0,12448.0,12571.0,13304.0,12656.0,13491.0,14545.0
4,NaN,Renta capital mobiliario,2315,2000,1717,1613.0,1484.0,1403.0,1467.0,1343.0,1394.0,1441.0,1357.0,1461.0,1780.0
5,NaN,Renta capital inmobiliario,312,372,417,393.0,431.0,451.0,477.0,518.0,511.0,566.0,530.0,563.0,623.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,EUSTAT. Estadística de Renta Personal y Familiar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,Units:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,euros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
rentas = rentas.iloc[1:]
rentas.reset_index(drop = True)

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0
1,NaN,Renta del trabajo,10749,12285,12062,11735.0,11737.0,11734.0,11855.0,12448.0,12571.0,13304.0,12656.0,13491.0,14545.0
2,NaN,Renta capital mobiliario,2315,2000,1717,1613.0,1484.0,1403.0,1467.0,1343.0,1394.0,1441.0,1357.0,1461.0,1780.0
3,NaN,Renta capital inmobiliario,312,372,417,393.0,431.0,451.0,477.0,518.0,511.0,566.0,530.0,563.0,623.0
4,NaN,Renta de actividades,1024,948,954,903.0,986.0,1138.0,1064.0,1107.0,1163.0,1190.0,1108.0,1270.0,1236.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,EUSTAT. Estadística de Renta Personal y Familiar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,Units:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,euros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
rentas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643 entries, 2 to 659
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Distrito  97 non-null     object
 1   Renta     637 non-null    object
 2   2006      637 non-null    object
 3   2009      637 non-null    object
 4   2011      637 non-null    object
 5   2013      637 non-null    float64
 6   2014      637 non-null    float64
 7   2015      637 non-null    float64
 8   2016      637 non-null    float64
 9   2017      637 non-null    float64
 10  2018      637 non-null    float64
 11  2019      637 non-null    float64
 12  2020      637 non-null    float64
 13  2021      637 non-null    float64
 14  2022      637 non-null    float64
dtypes: float64(10), object(5)
memory usage: 80.4+ KB

In [68]:
rentas["Distrito"].fillna(method = "ffill", inplace=True)

C:\Users\pacof\AppData\Local\Temp\ipykernel_29728\4116901288.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rentas["Distrito"].fillna(method = "ffill", inplace=True)
C:\Users\pacof\AppData\Local\Temp\ipykernel_29728\4116901288.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  rentas["Distrito"].fillna(method = "ffill", inplace=True)
C:\Users\pacof\AppData\Local\Temp\ipykernel_29728\4116901288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentas["Distrito"].fillna(method = "ffill", inplace=True)

In [69]:
rentas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643 entries, 2 to 659
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Distrito  643 non-null    object
 1   Renta     637 non-null    object
 2   2006      637 non-null    object
 3   2009      637 non-null    object
 4   2011      637 non-null    object
 5   2013      637 non-null    float64
 6   2014      637 non-null    float64
 7   2015      637 non-null    float64
 8   2016      637 non-null    float64
 9   2017      637 non-null    float64
 10  2018      637 non-null    float64
 11  2019      637 non-null    float64
 12  2020      637 non-null    float64
 13  2021      637 non-null    float64
 14  2022      637 non-null    float64
dtypes: float64(10), object(5)
memory usage: 80.4+ KB

In [77]:
rentas.tail(10)

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
635,Zona Rural Suroeste,Renta capital inmobiliario,555,703,822,888.0,942.0,932.0,1012.0,990.0,950.0,997.0,1137.0,1337.0,1374.0
636,Zona Rural Suroeste,Renta de actividades,1598,1586,1812,1724.0,1457.0,1621.0,1692.0,1840.0,1617.0,1926.0,1516.0,1989.0,1843.0
637,Zona Rural Suroeste,Transferencias,3054,3521,4518,4240.0,4423.0,4573.0,4626.0,4748.0,5041.0,5609.0,6265.0,6103.0,6348.0
638,Zona Rural Suroeste,Renta disponible,17515,19709,20560,20383.0,20996.0,20770.0,19440.0,21380.0,21524.0,22587.0,23050.0,24577.0,25908.0
642,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,EUSTAT. Estadística de Renta Personal y Familiar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,Units:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,euros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,Código referencia interna:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,rpf_rp22_2p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
rentas.dropna(axis = 0, thresh = 14,inplace=True)
rentas.tail(10)

C:\Users\pacof\AppData\Local\Temp\ipykernel_29728\3588232032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentas.dropna(axis = 0, thresh = 14,inplace=True)

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
629,Zona Rural Noroeste,Renta de actividades,2235,1972,2157,1990.0,1638.0,1642.0,1898.0,1809.0,1758.0,1889.0,1997.0,2252.0,1992.0
630,Zona Rural Noroeste,Transferencias,2903,3507,4451,4115.0,4330.0,4663.0,4969.0,5084.0,5416.0,5518.0,6220.0,5939.0,6529.0
631,Zona Rural Noroeste,Renta disponible,16746,17005,17448,16777.0,17519.0,17221.0,16961.0,16699.0,17411.0,17657.0,18281.0,18762.0,19442.0
632,Zona Rural Suroeste,Renta total,21105,23758,24836,25020.0,25635.0,25630.0,23888.0,26354.0,26564.0,28092.0,28680.0,30729.0,32254.0
633,Zona Rural Suroeste,Renta del trabajo,12374,14903,15529,14970.0,14688.0,15535.0,14473.0,16096.0,16424.0,16591.0,16876.0,18357.0,19429.0
634,Zona Rural Suroeste,Renta capital mobiliario,3524,3045,2155,3198.0,4126.0,2970.0,2085.0,2680.0,2532.0,2969.0,2885.0,2942.0,3260.0
635,Zona Rural Suroeste,Renta capital inmobiliario,555,703,822,888.0,942.0,932.0,1012.0,990.0,950.0,997.0,1137.0,1337.0,1374.0
636,Zona Rural Suroeste,Renta de actividades,1598,1586,1812,1724.0,1457.0,1621.0,1692.0,1840.0,1617.0,1926.0,1516.0,1989.0,1843.0
637,Zona Rural Suroeste,Transferencias,3054,3521,4518,4240.0,4423.0,4573.0,4626.0,4748.0,5041.0,5609.0,6265.0,6103.0,6348.0
638,Zona Rural Suroeste,Renta disponible,17515,19709,20560,20383.0,20996.0,20770.0,19440.0,21380.0,21524.0,22587.0,23050.0,24577.0,25908.0

In [79]:
rentas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 637 entries, 2 to 638
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Distrito  637 non-null    object
 1   Renta     637 non-null    object
 2   2006      637 non-null    object
 3   2009      637 non-null    object
 4   2011      637 non-null    object
 5   2013      637 non-null    float64
 6   2014      637 non-null    float64
 7   2015      637 non-null    float64
 8   2016      637 non-null    float64
 9   2017      637 non-null    float64
 10  2018      637 non-null    float64
 11  2019      637 non-null    float64
 12  2020      637 non-null    float64
 13  2021      637 non-null    float64
 14  2022      637 non-null    float64
dtypes: float64(10), object(5)
memory usage: 79.6+ KB

In [80]:
rentas.describe()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000
mean,7873.723705,7908.946625,8144.503925,8252.048666,8528.637363,8706.211931,9122.995290,9035.260597,9423.814757,10283.372057
std,7813.608471,7851.849772,8089.846267,8227.366569,8540.773785,8745.024726,9160.052049,8994.756480,9413.611109,10583.255964
min,27.000000,16.000000,0.000000,24.000000,45.000000,24.000000,0.000000,20.000000,0.000000,0.000000
25%,728.000000,739.000000,763.000000,713.000000,739.000000,780.000000,769.000000,748.000000,796.000000,863.000000
50%,4998.000000,4947.000000,5353.000000,5517.000000,5685.000000,5817.000000,6113.000000,6813.000000,6816.000000,7280.000000
75%,14298.000000,14286.000000,14682.000000,14606.000000,15100.000000,15320.000000,16049.000000,15903.000000,16563.000000,17685.000000
max,36265.000000,35325.000000,35998.000000,40120.000000,43972.000000,45687.000000,45562.000000,45918.000000,48112.000000,78996.000000

In [ ]:
rentas["Distrito"].unique()

array(['BILBAO', 'Abando', 'Altamira', 'Ametzola', 'Arabella',
       'Arangoiti', 'Atxuri', 'Basurtu', 'Begoña', 'Bilbao la Vieja',
       'Bolueta', 'Casco Viejo Bilbao', 'Castaños', 'Ciudad Jardín',
       'Errekaldeberri', 'Ibarrekolanda', 'Indautxu', 'Iralabarri',
       'Iturralde', 'Iturrigorri-Peñascal', 'La Peña', 'La Ribera',
       'Larraskitu', 'Masustegi-Monte Caramelo', 'Matiko', 'Miribilla',
       'Olabeaga', 'Otxarkoaga', 'San Adrián', 'San Francisco',
       'San Ignacio', 'San Pedro de Deustu', 'Santutxu', 'Solokoetxe',
       'Txurdinaga', 'Uretamendi', 'Uribarri', 'Zabala', 'Zorrotza',
       'Zurbaran', 'Donostia / San Sebastián', 'Aiete', 'Altza',
       'Amara Berri', 'Antiguo', 'Añorga', 'Ategorrieta-Ulia', 'Centro',
       'Egia', 'Gros', 'Ibaeta', 'Igeldo', 'Intxaurrondo', 'Landarbaso',
       'Loiola', 'Martutene', 'Miracruz-Bidebieta', 'Miramon-Zorroaga',
       'Zubieta', 'VITORIA-GASTEIZ', 'Abetxuko', 'Adurtza', 'Ali-Gobeo',
       'Arana', 'Aranbizkarra', 'Arantzabela', 'Aretxabaleta-Gardelegi',
       'Ariznabarra', 'Arriaga-Lakua', 'Casco Viejo Vitoria',
       'Coronacion', 'Desamparados', 'El Anglo', 'El Pilar', 'Ensanche',
       'Gazalbide', 'Judimendi', 'Lovaina', 'Mendizorrotza', 'Salburua',
       'San Cristóbal', 'San Martín', 'Sansomendi', 'Santa Lucia',
       'Santiago', 'Txagorritxu', 'Zabalgana', 'Zaramaga',
       'Zona Rural Este', 'Zona Rural Noroeste', 'Zona Rural Suroeste'],
      dtype=object)

In [90]:
rentas[(rentas["Distrito"] == "BILBAO") & (rentas["Renta"] == "Renta total")]

,Distrito,Renta,2006,2009,2011,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,BILBAO,Renta total,18196,20081,19787,19717.0,19761.0,20313.0,20526.0,21245.0,21538.0,22659.0,22464.0,23592.0,25366.0